<div class="page-header">
    <h1>Calendar</h1>
</div>
<div>
   
	<button type="button" class="btn btn-default" ng-click = "authorize()" ng-hide="calendarsFetched">Authorize</button>
	<button type="button" class="btn btn-default" ng-click = "fetchCalendars()" ng-hide="calendarsFetched">Fetch Calendars</button>

	<form name="selectCalendarForm" ng-submit="fetchCalendarEvents()" ng-show="calendarsFetched">
	  <div class="form-group">
	    <label for="title">Title</label>
	    <select class="form-control" ng-model="calendarSelected" ng-options="c.id as c.title for c in calendars">
	    	<option value="">-- choose calendar --</option>
			</select>
	  </div>
	  <div class="form-group">
	    <label for="title">Number of events</label>
	    <input type="text" class="form-control" ng-model="numberOfEvents" placeholder="Number of events">
	  </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-default">Fetch Calendar Events</button>
	  </div>
	</form>
	<table class="table" ng-show="calendarsFetched">
	  <thead>
	      <th>Title</th>
	      <th>Start</th>
	      <th>End</th>
	  </thead>
    <tbody>
	    <tr ng-repeat="calendarEvent in calendarEvents">
	      <td>{{calendarEvent.title}}</td>
	      <td>{{calendarEvent.start}}</td>
	      <td>{{calendarEvent.end}}</td>
	    </tr>
		</tbody>
	</table>
</div>