<div ng-init="loadPeople()" >
  <h1>People</h1>

  <table class="table table-striped table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:35%">Name</td>
      <td style="width:20%">Email</td>
      <td style="width:25%">Edit</td>
    </tr>
    <tr ng-repeat="person in people">
      <td>
        <span editable-text="person.name" e-name="name" e-form="rowform" e-required>
          {{person.name}}
        </span>
      </td>
      <td>
        <span editable-text="person.email" e-name="email" e-form="rowform">
          {{person.email}}
        </span>
      </td>
      <td>
        <form editable-form name="rowform" onbeforesave="savePerson($data, person.id)" ng-show="rowform.$visible" shown="inserted == person" class="form-buttons form-inline">
          <button type="submit" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="removePerson(person.id, $index)">del</button>
        </div>  
      </td>
    </tr>
  </table>

  <button class="btn btn-default" ng-click="addPerson()">Add row</button>
</div>