<div ng-init="init()">
	<h1>Projects</h1>

  <!-- Select User - to be removed -->
  <a href="#" editable-select="selectedUser.name" e-title="Select User" onbeforesave="updateSelectedProjects($data)" e-ng-options="u.id as u.name for u in users">
    {{selectedUser.name || 'Select User'}}
  </a>
  <!-- /Select User -->

  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th class="col-md-7">Name</th>
        <th class="col-md-4">Total time [hrs]</th>
        <th class="col-md-1">Edit</th>
      </tr>
    </thead>
    <tr ng-repeat="project in projects | filter:filterProjects()">
      <td>
        <span editable-text="project.name" e-name="name" e-form="rowform" e-required>
          <a href="#/project/{{project.id}}">{{project.name}}</a>
        </span>
      </td>
      <td>
        <span editable-text="project.time" e-name="time" e-form="rowform" e-required>
          {{project.time}}
        </span>
      </td>
      <td>
        <form editable-form name="rowform" onbeforesave="saveProject($data, project.id)" ng-show="rowform.$visible" shown="inserted == project" class="form-buttons form-inline">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> 
          </button>
          <button type="button" ng-click="rowform.$cancel()" class="btn btn-default">
            <span class="glyphicon glyphicon-share-alt"></span> 
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-danger" ng-click="removeProject(project, $index)">
            <span class="glyphicon glyphicon-remove"></span> 
          </button>
        </div>  
      </td>
    </tr>
  </table>
  <button class="btn btn-success" ng-click="addProject()">
    <span class="glyphicon glyphicon-plus"></span> 
  </button>
</div>