<h1>Report#index</h1>
<% @report.each do |report| %>

    <%= report.title %>

    <% end %>


<%= form_tag("/report", method: "post") do %>
    <%= text_field_tag(:title) %>
    <%= submit_tag("Search") %>
<% end %>